<ion-content>
  <div id="centralizar">
    <ion-item lines='none'>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Gênero</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Data de nascimento</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Repetir a Senha</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">CEP</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Número</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines='none'>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button shape="round" color="success" fill="outline" (click)="carregarTela('login')">Login</ion-button>
      </ion-col>
      <ion-col>      
        <ion-button shape="round" color="danger" fill="outline" (click)="carregarTela('folder/Inbox')">Cancelar</ion-button>
      </ion-col>
    </ion-row>  

  </div>
</ion-content>
