<ion-content>
  <div id="centralizar">
    <img src="../../assets/img/login.png" alt="Imagem do Login">
    <br>
    <br>
    <ion-item lines='none'>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="email" maxlength="50"></ion-input>
    </ion-item>
    <br>
    <ion-item lines='none'>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" maxlength="15"></ion-input>
    </ion-item>
    <div id="direita">
        Esqueci minha senha
    </div>
    <br>
    <ion-row>
      <ion-col>
        <ion-button shape="round" color="success" fill="outline" (click)="login()">Logar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button shape="round" color="danger" fill="outline" (click)="geralCtrl.alertaConfirma()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
