#total ion-input{
  font-size: 30px;
  text-align: right;
  color: black;
  letter-spacing: 2px;
  line-height: 75px;
}

ion-item{
  border: 1px solid #a9a9a9;
  margin: 10px;
  border-radius: 5px;
}

div{
  border: 1px solid red;
  border-radius: 2px;
  margin: 10px;
  line-height: 30px;
  margin-top: 50px;
  box-shadow: red 2px 2px 2px;
}
