<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <img src="../../assets/img/um.png" alt="Primeira Imagem">
      <h2>Bem vindo!!</h2>
        <p><b>Sinta </b>a felicidade de estar no controle de sua finanças</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/dois.png" alt="Segunda Imagem">
      <h2>O que é o Organizze</h2>
      <p><b>O aplicativo de Finanças #1</b> para o controle do seu dinheiro! Saiba para onde vai o seu dinheiro</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/tres.png" alt="Terceira Imagem">
      <p><b>Todas as suas contas e cartões no mesmo lugar</b> Planeje seu futuro e realize sonhos</p>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/quatro.png" alt="Quarta Imagem">
      <p>Registre tudo e faça as pazes com seu bolso. Usado por mais de 2 milhões de pessoas</p>
    </ion-slide>
  </ion-slides>
<div>
  <ion-button color="warning" (click)="login()">Login</ion-button>
  <ion-button color="success" (click)="formulario()">Começar Agora</ion-button>
</div>
</ion-content>
