div{
  margin: 10px 10px 10px 10px;
  text-align: center;
}

#divFoto{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: auto;
  overflow: hidden;
}

img{
  max-width: 300px;
  left: -50px;
  position: relative;
}

ion-item{
  border: 1px solid #92949C;
  margin-top: 10px;
  border-radius: 10px;
}

ion-icon{
  text-size-adjust: 50px;
}

ion-row{
  text-align: center;
}

ion-col{
  padding: 0px;
}

h3{
  text-align: center;
  color: red;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

span{
  font-size: 10pt;
  text-align: right;
  width: 100%;
  color: red;
}
