div{
  margin: 10px 10px 10px 10px;
}

#foto{
  text-align: center;
}

ion-item{
  border: 1px solid blue;
  margin-top: 10px;
  border-radius: 10px;
}

ion-icon{
  text-size-adjust: 50px;
}

ion-row{
  text-align: center;
}
