#principal{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  background-color: #3dc2ff;
  color: #fff;
}

#lista{
  background: white;
  margin: 5px;
}

ion-item{
  border: 2px solid #3dc2ff;
}

span{
  float: right;
}
