ion-col{
    text-align: center;
    border: 1px solid green;
}

div{
    margin: 10px;
    text-align: center;
}

ion-item{
    border: 1px solid green;
}

h1, h5{
    text-align: center;
}

ion-card-title{
    text-align: center;
}